@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.navbar{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: open sans;
    justify-content: space-between;
    align-items: center;
    margin:0px 120px 0px 120px;
}
#r{
    color: #FD6E0A;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
  color: black;
  justify-content: center;
  align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    opacity: 0.8;
}
.button{
    padding: 10px 20px;
    margin:5px;
    
    border-radius: 5px;
    color: white;

    font-weight: bold;
    cursor: pointer;
    background-color: #FD6E0A;
}
.intro{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}
.intro-text{
   height: 356px;
   width: 585px;
   margin-left: 230px;
   
}
.intro-text h4{
    font-weight: semi-bold;
    font-size: 20px;
    height: 40px;
    width: 177px;
}

.intro-text p{
    font-size: 18px;
    font-weight: 400;
    height: 60px;
    width: 585px;
    padding-bottom: 40px;
    color: #757575;
}
.intro-text h1{
    font-size: 60px;
    font-weight: bold;
    
 
}
header{
    background-image: url(/portfolio-web-dev/portfolio-resources/images/developer.png),
    url(/portfolio-web-dev/portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left,right bottom;
}
img{
    vertical-align: center;
}
.a{
    font-weight: bold;
    font-size: 50px;
    
}
.about-me{ background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
   margin: auto;
   display: flex;
   justify-content: center;
    align-items: center;
}
.about-me-content{
 width: 827px;
 height: 288px;
}
.about-me-content h1{
  text-align: center;
}
.about-me-content p{
  color: #757575;
    font-size: 18px;
}
.personal-info{
   display:flex;
   font-size: 20px;
   color:#757575;
   justify-content: center;
    align-items: center;
}
.personal-info span{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;
    margin: 20px;
    
}
#para{ margin: auto;
    width: 900px;
    height: 90px;
    color: #757575;
    font-size: 18px;
}
#hhj{ text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    margin-top:100px;
   
    
} 
#skills{ display: flex;
   justify-content: center;
    align-items:center;
  gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mm{ display: flex;
    flex-direction: column;
    box-shadow: 0 6px 50px 0 #00000011;
    width: 267px;
    height: 377px;
    
   
}
.imm{
    width: 44px;
    height: 44px;
}
.divh{
    width: 204px;
    height: 243px;
    font-weight: bold;
    color: #181818;

}
.ppp{width: 201px;
    height: 196px;
    margin-top: 20px;
    color: #757575;
    font-weight: 500;
}
#summary{ 
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#last{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.summary-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    margin-left: 100px;
}
.summary-s{
    
    display: flex;
    flex-direction: column;
   
    height: 175px;
    width: 511px;
    
    
}
.head2{
    margin-bottom: 5px;
 
 font-weight: bold;
 color: #474747;
}
.head4{ 
    font-weight: semi-bold;
    color:#757575;
    margin-top:0px;
}
.pa{
    width: 511px;
    height: 84px;
    color: #757575;
    
}
#button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#contact-me{ background-color:  #FFF8F3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contact-me div{ 
    width: 460px;
    height: 500px;
}
#extra{
    
    display: flex;
    flex-direction: column;

    align-items: center;
}
#extra1{
    margin-top: 200px;
    height: 100px;
}
#extra2{
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}
.bili{
    height : 40px;
    width: 300px;
    margin-left: 80px;
}

#submit-button{
    width: 5px;
    
    border-radius: 5px;
}
#taramara{
    margin-left: 80px;
    width: 300px;
    height: 150px;
    
}
#submit-button{
    background-color: #FD6E0A;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 80px;
}
